<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Create a html Template in golang for reset password otp -->

    <h1>New Login Detected</h1>

    <p>Hello {{.Name}},</p>

    <p>Your account has been logged in from new device.</p>
    <p>IP Address: {{.IP}}</p>
    <p>Device : {{.UA}}</p>

    <p>You can ignore this messages if you've been logged in recently.</p>
    <p>If not please change your password.</p>

</body>
</html>